

        .NES{
            font-size: 4em;
             color: white;
        }

        .text{
            left: 300px !important; 
            position: absolute;
        }
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: url(../IMG/stacked-waves-haikei.png) no-repeat fixed center  ;
            background-size: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;  
        }

        .container {
            width: 850px;
            height: 100%;
            display: flex;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            background-color: white;
            position: fixed;
            top: 0; 
            right: 0; 
        }

        .left {
            flex: 1;
            position: relative;
            background: #4d9cf8;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow: hidden;
        }

        .left h1 {
            font-size: 3rem;
            font-weight: bold;
            margin: 0;
            z-index: 2;
        }

        /* Ondas blancas */
        

        .right {
            width: 100%;
            height: 100%;
            margin: 10px 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }

        .right h2 {
            margin-bottom: 20px;
            font-size: 1.5rem;
            color: #333;
        }

        .form-group {
            margin-bottom: 35px;
        }

        .form-group label {
            display: block;
            font-size: 1.3rem;
            margin-bottom: 5px;
            color: #555;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 0.95rem;
        }

        .error {
            color: red;
            font-size: 0.85rem;
            margin-top: 5px;
        }

        .remember {
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            margin-bottom: 15px;
        }

        .remember input {
            margin-right: 10px;
        }

        .form-footer {
            margin-top: 10px;
        }

        .form-footer a {
            color: #4d9cf8;
            text-decoration: none;
            font-size: 0.9rem;
        }

        .form-footer button {
            width: 100%;
            padding: 12px;
            border: none;
            background: #4d9cf8;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 15px;
        }

        .form-footer button:hover {
            background: #3c83d4;
        }
