.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode a {
    color: #ffffff;
}

.dark-mode input, .dark-mode select {
    background-color: #333333;
    color: #ffffff;
    border-color: #555555;
}
